{% include "public/head.html" %}
<div class="site-wrapper">
    <header class="main-header post-head no-cover">
        <nav class="main-nav clearfix">
            <a class="menu-button icon-menu" href="#"><span class="word">菜单</span></a>
        </nav>
    </header>

    <main class="content" role="main">
        <article class="post">

            <header class="post-header">
                <h1 class="post-title">{{ pageinfo.title }}</h1>
                <section class="post-meta">{{ pageinfo.time }}</section>
            </header>

            <section class="post-content">
                {{ context|safe }}
            </section>

            <footer class="post-footer">

                <figure class="author-image">
                    <img class="img">
                </figure>

                <section class="author">
                    <h4><a href="https://qwe7002.com/author/qwe7002/">qwe7002</a></h4>
                    <p>
                        一直很高调，其实就是个小丑。技术本就渣，还要冒充大牛。什么事情都爱多考虑三分，最后往往发现是想太多。爱好极简，但是做出来的东西往往还是差那么些。对自己的作品超级苛刻，往往最后逼死的是自己。半理工半文艺思维，至今没搞懂这是个什么玩意。一切都是浮云，欢喜就好。</p>
                    <div class="author-meta">
                        <span class="author-link icon-link"><a href="/"></a></span>
                    </div>
                </section>

                <!-- load Disqus -->
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                     var disqus_config = function () {
                     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                     */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//qwe7002.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>

            </footer>

        </article>
    </main>

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="/">qwe7002的个人博客</a></section>
        <section class="poweredby">Powered by SmartCMS , Theme Modify Casper</section>
    </footer>

</div>
{% include "public/foot.html" %}