.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyc
*.pyo
.idea
config
document
!/.develop/demo/config
!/.develop/demo/document
/uwsgi.json
/pm2.json
templates
/nginx_config
/manage.sh
/upgrade/*.json
/docker-compose.yml
/docker-compose-with-nginx.yml
static_page
trash
logs
install/install.lock
