.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyc
*.pyo
.idea
system.json
menu.json
page.json
document
uwsgi.json
start.json
start.sh
templates
templates/*
control-start.sh
nginx_config
manage.sh
/upgrade/current_version.json
