.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyc
*.pyo
config.php
install.lock
config.json
.idea
system.json
menu.json
page.json
document
include
LL_kotorileft.png
uwsgi.json
start.json